<div class="grid">
    <div class="row">
      <div class="col-md-12">
        <h1 class="centeredTitle"> <img src="images/plate.png" width="75" height="75" id="title" alt="logo">Match Munchies</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="login">
          <p>Reset options will be sent to your email.</p>
          <form method="post" action="login.html">
              <input type="text" name="u" placeholder="QU Email" required="required" />
              <button type="submit" class="btn btn-primary btn-block btn-large">Send</button>
          </form>
          <a href="/#/signup" id="register"> Register New Account</a>
        </div>
      </div><!--End of col-12-->
    </div><!--End of row-->
</div><!--End of Grid-->